*{
    margin: 0px;
    padding: 0px;
}
header{
    width:100vw;
    display: flex;
    justify-content: center;
}
.navBar{
    width: 733.84px;
    height: 34.25px;
    /* border: 1px solid ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 30px 0px;
    border-bottom: 1px solid #eeeeeb;
}
.leftNav{
    width: 136.47px;
    height: 31.02px;
}
.img1{
    position:absolute;
    top:23px ;
    left:280px;
}
.rightNav{
    display: flex;
    align-items: center;
    gap: 30px;
}
.rightNav span{
    font-size: 18px ;
    text-align: center;
    font-weight: 700px;
    color: #E0E0E0;

}
.btn1 {
    color: #bd9619;
    border: none;
    background-color: #ffffff;
    font-size: 18px;
    font-weight: 700;
  }
  .paraSection{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .para{
    width: 792px;
height: 100px;
font-family: Poppins;
font-size: 24px;
font-weight: 400;
color: #FFFFFF;
background-color: #FCC822;
padding: 20px;
margin-top: 30px ;
  }
  .questionpart{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 739.59px;
    height: 84.18px;
  }
  .que{
    width: 150.06px;
    height: 84.18px;
    text-align: center;
    background-color: #e5e5e5;
  }
  .btnPart{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .bothBtn{
    width: 650px;
    height: 84.18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .preBtn{
    background-color:#e5e5e5 ;
    padding: 8px;
    border: none;
  }
  .nextBtn{
    background-color: #bd9619;
    padding: 8px 20px;
    border: none;
    color: white;
  }
  .skipBtn{
    color: #bd9619;
    padding: 8px;
border: none;
background-color: white;
  }